/*@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css");*/
@import "vendor/bootstrap/bootstrap.min.css";
@import "vendor/selectize/selectize.bootstrap3.min.css";
/*@import "vendor/winstrap/winstrap.min.css";*/
@import "vendor/bootstrap_material/bootstrap-material-design.min.css";
@import "vendor/bootstrap_material/ripples.min.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300,400,500,700|Cormorant:400,400i&subset=latin-ext');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
}

.row hr {
    border: 2px #DDD;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header > hr {
    border: 2px #DDD;
    margin-top: 10px;
    margin-bottom: 0;
}

.add {
    cursor: pointer;
}

/*.modal-content .modal-body {
    padding-top: 15px;
}*/

.remove {
    cursor: pointer;
}

.hidden {
    display: none;
}

.toggle {
    margin-left: 12px;
}

body {
    min-height: 100vh;
}

#menu, #canvas {
    min-height: 100vh !important;
}

#file i {
    font-size: 18px !important;
    margin-right: 15px;
    display: inline-block;
}

#menu {
    text-align: center;
}

#menu img {
    width: 100px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#canvas {
    height: 100vh;
    display: block;
    resize: both;
    overflow: scroll;
}

.info:before {
    content: '?';
    font-family: sans-serif;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 2px;
    border: 1px solid;
    text-decoration: none;
}

.info:hover:before {
    color: white;
    background: black;
    border-color: white;
    text-decoration: none;
}

.contextMenu {
    z-index: 300;
    position: absolute;
    left: 5px;
    border: 1px solid #444;
    background-color: #F5F5F5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}