@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato|Cormorant:400,400i&subset=latin-ext';
@import "vendor/materialize/materialize.min.css";

body {
    margin: 0;
    padding: 0;
}

#menuBtn {
    position: fixed;
    left: 15px;
    top: 15px;
}

#menuBtn ul {
    text-align: right;
    left: 64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    right: auto;
    width: 500px;
    /*width 100% only goes to width of button container */
}

.modal h1, .modal h2, .modal h3, .modal h4 {
    font-size: 24px;
    margin: 0 0 0 5px;
    padding: 10px 15px;
}

.modal form {
    margin-top: 20px;
}

.crosshairPointer {
    cursor: crosshair;
}

.autoPointer {
    cursor: auto;
}

#canvas {
    /*position: relative;*/
    overflow-y: hidden;
    vertical-align: top;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    width: 100vw
}

.mainTitle {
    vertical-align: middle;
    font: 24px Cormorant;
    font-size: 39px;
    margin-left: 20px;
}

.contextMenu {
    z-index: 300;
    position: absolute;
    left: 5px;
    border: 1px solid #444;
    background-color: #F5F5F5;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

.contextMenu .a {
    white-space: nowrap;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.horizontal-separator {
    margin-left: 3px;
    margin-right: 5px;
}

.horizontal-separator:after {
    content: "|";
}

#fmmlxClassModal .dropdown-content{
    max-height: 150px;
    overflow-y: visible;
}
